{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container-fluid no-padding">
    <div class="row no-margin no-padding" style="background: #141414;color:#fff;/*padding-bottom:40px;*/">
      <div class="col-sm-6 col-md-4 no-margin no-padding">
        <a class="service-bnr" href="/services_for_women">
          <div class="service-bnr-title">Услуги для женщин</div>
         <img src="/static/main/img/girl.jpg" style="width: 100%;">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 no-margin no-padding">
        <a class="service-bnr" href="/manicure_pedicure">
          <div class="service-bnr-title">Маникюр и педикюр</div>
          <img src="/static/main/img/manikyur-pedikyur.jpg" style="width: 100%;">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 no-margin no-padding">
        <a class="service-bnr" href="/cosmetology_services">
          <div class="service-bnr-title">Косметологические услуги</div>
          <img src="/static/main/img/844_large.jpg" style="width: 100%;">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 no-margin no-padding">
        <a class="service-bnr" href="/services_for_men">
          <div class="service-bnr-title">Услуги для мужчин</div>
          <img src="/static/main/img/man.jpg" style="width: 100%;">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 no-margin no-padding">
        <a class="service-bnr" href="/services_for_children">
          <div class="service-bnr-title">Услуги для детей</div>
          <img src="/static/main/img/child.jpg" style="width: 100%;">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 no-margin no-padding">
        <a class="service-bnr" href="/gift_certificates">
            <div class="service-bnr-title">Подарочные сертификаты</div>
            <img src="/static/main/img/sert_button.jpg" style="width: 100%;">
          </a>
        </div>
      </div>
    </div>


<!--   </div>-->


<!--   <div class="features">-->
<!--     <h1>{{ title }}</h1>-->

<!--     <button class="btn btn-warning">ПАРИКМАХЕРСКИЙ ЗАЛ</button><br><br>-->
<!--       <button class="btn btn-warning">МАНИКЮР</button><br><br>-->
<!--        <button class="btn btn-warning">ПЕДИКЮР</button>-->

<!--       {% for el in values %}-->
<!--           <p>{{ el }}</p>-->
<!--       {% endfor %}-->
<!--   </div>-->
<!--{% endblock %}-->





<!--<!doctype html>-->
<!--<html lang="ru">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Главная страница</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Главная страница</h1>-->
<!--    <p>Главная страница</p>-->
<!--</body>-->
<!--</html>-->