{% extends 'main/layout.html' %}

{% block title %}Маникюр и педикюр{% endblock %}

{% block content %}
     <div class="features">
     <h1>Маникюр и педикюр</h1>
     <style>p{color: black;}h3{margin: 10px 0px 10px; width:750px;height: 60px;border-radius:3px;}
    .alert-warning {width: 750px;height: 140px;}</style>
         {% for el in manicurePedicure %}
              <div class="alert alert-warning">
                  <h3>{{ el }}</h3>
              </div>
         {% endfor %}
     </div>
{% endblock %}

