{% extends 'main/layout.html'%}

{% block title %}Услуги и цены{% endblock %}

{% block content %}
    <div class="features">
     <h1>{{ title }}</h1>
         <style>p{color: fff;}</style>
        <abbr>ЖЕНСКИЕ СТРИЖКИ</abbr>
        {% for el in values %}
           <p>{{ el }}</p>
       {% endfor %}

        <abbr>МУЖСКИЕ СТРИЖКИ</abbr>
        {% for el in values_1 %}
           <p>{{ el }}</p>
       {% endfor %}

        <abbr>ДЕТСКИЕ СТРИЖКИ</abbr>
        {% for el in values_2 %}
           <p>{{ el }}</p>
       {% endfor %}

        <abbr>МАНИКЮР</abbr>
        {% for el in values_3 %}
           <p>{{ el }}</p>
       {% endfor %}

        <abbr>ПЕДИКЮР</abbr>
        {% for el in values_4 %}
           <p>{{ el }}</p>
       {% endfor %}

    </div>

{% endblock %}
<!--     <button class="btn btn-warning">На главную страницу</button>-->




