{% extends 'main/layout.html' %}

{% block title %}Услуги для мужчин{% endblock %}

{% block content %}
     <div class="features">
     <h1>Услуги для мужчин</h1>
        <style>p{color: black;}
        h3{margin: 13px 0px; width:650px;height: 50px;border-radius:3px;}
        .alert-warning {width: 650px; height: 110px;}
        </style>
         {% for el in servicesForMen %}
              <div class="alert alert-warning">
                   <h3>{{ el }}</h3>
              </div>
         {% endfor %}
     </div>
{% endblock %}

