{% extends 'main/layout.html'%}

{% block title %}Услуги и цены{% endblock %}

{% block content %}
    <div class="features">
     <h1>{{ title }}</h1>

<!--     <button class="btn btn-warning">На страницу про нас</button>-->

        <abbr>ЖЕНСКИЕ СТРИЖКИ</abbr>
        {% for el in values %}
           <p>{{ el }}</p>
       {% endfor %}

        <abbr>МУЖСКИЕ СТРИЖКИ</abbr>
        {% for el in values_1 %}
           <p>{{ el }}</p>
       {% endfor %}



    </div>

{% endblock %}





<!--<!doctype html>-->
<!--<html lang="ru">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Про нас</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Про нас</h1>-->
<!--    <p>Про нас</p>-->
<!--</body>-->
<!--</html>-->